.group-child73,
.image-7-icon3 {
  position: absolute;
  left: 0;
  width: 1512px;
}
.image-7-icon3 {
  top: 145px;
  height: 837px;
  object-fit: cover;
}
.group-child73 {
  top: 0;
  background-color: var(--color-gray-400);
  height: 831px;
}
.t {
  font-size: 32.24px;
}
.ra-restaurant {
  position: relative;
}
.culinary-journey {
  position: relative;
  font-size: 128px;
  font-family: var(--font-libre-baskerville);
}
.through-the-heart {
  position: relative;
  font-size: 25.79px;
  line-height: 217.4%;
  transform: rotate(-0.01deg);
  transform-origin: 0 0;
}
.content {
  position: absolute;
  top: 197px;
  left: 98px;
  width: 1354px;
  height: 286px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.07px;
}
.group-child74,
.rectangle-parent17 {
  position: absolute;
  top: 151px;
  left: 0;
  width: 1512px;
  height: 831px;
}
.group-child74 {
  top: 0;
  background-color: var(--color-gray-100);
  height: 151px;
}
.group-child75,
.group-child76,
.ra13 {
  position: absolute;
  top: 32px;
  width: 87px;
  height: 88px;
}
.group-child75 {
  left: 50px;
  background-color: var(--color-red);
}
.group-child76,
.ra13 {
  left: 137px;
}
.ra13 {
  top: 35px;
  left: 69px;
  font-size: var(--font-size-45xl);
  font-family: var(--font-montserrat);
  text-align: left;
  display: inline-block;
  width: 151px;
  height: 75px;
}
.group-child77 {
  position: absolute;
  top: 62px;
  left: 1293px;
  background-color: var(--color-yellow);
  width: 177px;
  height: 51px;
}
.reservation24 {
  position: absolute;
  top: 74px;
  left: 1294px;
  line-height: 126.5%;
  color: var(--color-black);
  display: inline-block;
  width: 176px;
  height: 50px;
  cursor: pointer;
}
.menu14 {
  cursor: pointer;
}
.about13,
.menu14 {
  position: relative;
  line-height: 126.5%;
}
.home8,
.menu-parent10 {
  position: absolute;
  top: 0;
}
.menu-parent10 {
  left: 109px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-27xl);
}
.home8 {
  left: 0;
  line-height: 126.5%;
  color: var(--color-white);
  display: inline-block;
  width: 73px;
  height: 22px;
}
.frame-parent6 {
  position: absolute;
  top: 74px;
  left: 925px;
  width: 300px;
  height: 23px;
  color: var(--color-gainsboro-200);
}
.group-child79,
.group-child80 {
  position: absolute;
  top: 0;
  width: 87px;
  height: 88px;
}
.group-child79 {
  left: 0;
  background-color: var(--color-red);
}
.group-child80 {
  left: 87px;
}
.ra-wrapper3,
.ra14 {
  position: absolute;
  width: 151px;
  height: 75px;
}
.ra14 {
  top: 0;
  left: 0;
  display: inline-block;
}
.ra-wrapper3 {
  top: 3px;
  left: 19px;
}
.rectangle-parent20 {
  position: absolute;
  top: 32px;
  left: 50px;
  width: 174px;
  height: 88px;
  text-align: left;
  font-size: var(--font-size-45xl);
  font-family: var(--font-montserrat);
}
.menu-parent11 {
  position: absolute;
  top: 74px;
  left: 811px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-27xl);
  color: var(--color-gainsboro-200);
}
.home10,
.reservation27 {
  position: absolute;
  top: 74px;
  left: 1294px;
  line-height: 126.5%;
  color: var(--color-black);
  display: inline-block;
  width: 176px;
  height: 50px;
}
.home10 {
  top: 0;
  left: 0;
  color: var(--color-white);
  width: 73px;
  height: 22px;
  cursor: pointer;
}
.rectangle-parent18,
.rectangle-parent19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1512px;
  height: 151px;
}
.rectangle-parent18 {
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-libre-baskerville);
}
.macbook-pro-14-3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-gainsboro-100);
  font-family: var(--font-montserrat);
}
